/.vs
CustomDeploy/bin/
CustomDeploy/obj/

# Arquivos de configuração com credenciais
**/appsettings.json
**/appsettings.local.json
**/appsettings.*.json
!**/appsettings.Development.json
!**/appsettings.template.json

# Logs
*.log

# Banco de dados SQLite WAL
CustomDeploy/CustomDeploy/customdeploy.db
CustomDeploy/CustomDeploy/customdeploy.db-shm
CustomDeploy/CustomDeploy/customdeploy.db-wal